#textdomain wesnoth-The_Final_Exam

[scenario]
	id="4_Lakes"
	name= _ "4-Lakes"
	map_data="{~add-ons/The_Final_Exam/maps/4_Lakes.map}"


	{DEFAULT_SCHEDULE}
	{DEFAULT_MUSIC_PLAYLIST}

	victory_when_enemies_defeated=no

	turns=-1

## What will be next? type "null" in the last scenario of the campaign

	next_scenario=null


	[story]
		[part]
			story= _ "After Jessin becomes healthy and powerful again, an elven scout have arrived, bearing ill news. Another orcish tribe is attacking the elves, and Erika and her small force is arriving just in time."
		[/part]
	[/story]


	[side]
		side=1
		controller=human
		canrecruit=yes
		recruit=Spearman,Bowman,Mage,Wose,Fencer
		team_name=Erika
		gold=80
		type=Mage
		name= _ "female^Erika"
		id=Erika
		gender=female
		unrenamable=yes
        [modifications]
			{TRAIT_LOYAL}
			{TRAIT_RESILIENT}
        [/modifications]


	[/side]

	[side]
		side=2
		controller=ai
		canrecruit=yes
		recruit=Elvish Shaman,Elvish Fighter,Elvish Archer

		team_name=Erika
		unrenamable=yes

		{GOLD 150 125 100}

		type=Elvish Ranger
		id=Tarhien
		name= _ "Tarhien"
		[modifications]
			{TRAIT_DEXTROUS}
			{TRAIT_LOYAL}
        [/modifications]
		unrenamable=yes
		income=6
	[/side]
	
	[side]
		side=3
		controller=ai
		canrecruit=yes
		recruit=Orcish Grunt, Orcish Archer, Orcish Assassin, Troll Whelp, Wolf Rider
		passive_leader=yes
		team_name=Enemy
		unrenamable=yes

		{GOLD 200 300 400}
		[modifications]
			{TRAIT_STRONG}
			{TRAIT_LOYAL}
        [/modifications]
		type=Orcish Warlord
		generate_name=yes
		income=6
	[/side]





[event]
		name=prestart

		[objectives]
			side=1
			[objective]
				condition=win
				description= _ "Defeat orcish army"
			[/objective]
			[objective]
				condition=lose
				description= _ "Death of Erika or Jessin"
			[/objective]
			[objective]
				condition=lose
				description= _ "Turns run out"
			[/objective]
		[/objectives]

		[capture_village]
			side=1
			x,y=26,33
		[/capture_village]
		
		[capture_village]
			side=2
			x,y=24,30
		[/capture_village]
		
		[capture_village]
			side=3
			x,y=3,31
		[/capture_village]
		
		[capture_village]
			side=3
			x,y=2,33
		[/capture_village]
		
		[capture_village]
			side=3
			x,y=5,34
		[/capture_village]
		
		[capture_village]
			side=3
			x,y=13,34
		[/capture_village]
		
		[capture_village]
			side=3
			x,y=13,34
		[/capture_village]
		
		
		[unit]
			type=Wolf Rider
			generate_name=yes
			side=3
			x=6
			y=4
		[/unit]
		
		[unit]
			type=Wolf Rider
			generate_name=yes
			side=3
			x=15
			y=19
		[/unit]
		
		[unit]
			type=Elvish Archer
			generate_name=yes
			side=2
			x=13
			y=30
		[/unit]

	[recall]
		id=Johnny
		x=5
		y=8
	[/recall]

	[recall]
		id=Jessin
		x=9
		y=7
	[/recall]
	
	[recall]
		id=Dask
		x=10
		y=6
	[/recall]

	[recall]
		id=Tambaddum
		x=12
		y=8
	[/recall]
	
	[recall]
		id=Aceman
		x=25
		y=20
	[/recall]
	
	

	
	
	[/event]

	[event]
		name=start



 [if]
    [has_unit]
       id=Tambaddum
    [/has_unit]
    [then]
       [allow_recruit]
			type=Wose
			side=1
       [/allow_recruit]
    [/then]
 [/if]


	[message]
    	   speaker=Tarhien
     	   message = _ "Here we are. They gathered a lot of units. I am sure, they will try to destroy us with using a lot of fighters."
	[/message]
	[message]
    	   speaker=Erika
     	   message = _ "What can we do?"
	[/message]
	[message]
    	   speaker=Jessin
     	   message = _ "Destroy them. Bigger army means also more food is needed. And gold, of course. They have both from villages in the south region. If we somehow get there... for example, a silver mage might teleport there."
	[/message]
[/event]





    [event]
        name=new turn
        first_time_only=no

        [if]
            [have_location]
                terrain=*^V*
                owner_side=3
            [/have_location]
            [else]
                [endlevel]
                    result=victory
                [/endlevel]
            [/else]
        [/if]
    [/event]
    
    [event]
        name=new turn
        first_time_only=no

        [if]
            [have_unit]
                side=3
            [/have_unit]
            [then]
                [unit]
                    type=Orcish Grunt
                    generate_name=yes
                    side=3
                    x=1
                    y=24
					[modifications]
						{TRAIT_LOYAL}
						{TRAIT_QUICK}
					[/modifications]
                [/unit]
            [/then]
        [/if]
    [/event]

[event]
		name=victory
                [message]
                    speaker=Jessin
                    message=_ "Orcs will be in great disadvantage now. They will starve and flee, or simply die. This is all possible thanks to you, Erika. You are not only a good mage, but also a smart military leader."
                [/message]
                [message]
                    speaker=Erika
                    message=_ "Thank you, master. Not long ago, I was a simple student. Now I can use magic in combat and fight alongside friends."
                [/message]
        [color_adjust]
            red=255
            green=0
            blue=0
        [/color_adjust]
        [delay]
            time=600
        [/delay]
        [color_adjust]
            red=0
            green=0
            blue=0
        [/color_adjust]
				[message]
                    speaker=narrator
                    message=_ "Erika's life was very short, after she helped both her master and the elves. One night, she was poisoned with an orcish dagger and while Erika was able to harm her enemy, poison killed her. Jessin continued to teach young mages and several of them becomes even grand mages over time, but that is a completely different story..."
                [/message]
[/event]

[event]
		name=last breath
		[filter]
			id=Erika
		[/filter]
		[message]
			speaker=unit
			message= _ "Oh, no! I hope this blood is not mine!"
		[/message]
		[endlevel]
			result=defeat
		[/endlevel]
[/event]
	
[event]
		name=last breath
		[filter]
			id=Jessin
		[/filter]
		[message]
			speaker=unit
			message= _ "I am dying... Aaarch!"
		[/message]
		[endlevel]
			result=defeat
		[/endlevel]
[/event]

## Thanks for playing, watching and editing. Feel free to use ANYTHING (public domain) from this texts.

## Original edition is created by Stanislav Hoferek and Viliam Bur

[/scenario]
